/* colors: rgb(10, 4, 51) , rgb(109, 233, 160); */
body{
    padding:0;
    margin:0;
    font-family: "Nunito";
    background-color: lightblue;
  }
  
  img{
    height:50%;
    width:50%;
    display:block;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
  }
  
  h1, p, button{
    width:100%;
    text-align: center;
  }
  
  button{
    width:350px;
    height:100px;
    display:block;
    color:white;
    background-color: purple;
    font-family: 'Nunito';
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
    border:0;
  }
  
  p{
    font-size:24px;
    color: darkblue;
  }
  
  h1{
    font-size:30px;
    margin-bottom:50px;
  
  }